doctype html
html
  head
    title Crear Usuario Administrador
    link(rel="stylesheet", href="/styles/styles.css") 
    link(rel="stylesheet", href="/styles/form-admin.css") 
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js') 
  body
    //- navbar.pug
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/home') Clinica
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home') Home
          li.nav-item
            a.nav-link(href='/pacientes') Pacientes
          li.nav-item
            a.nav-link(href='/profesionales') Profesionales
          li.nav-item
            a.nav-link(href='/mi-perfil') Mi Perfil
        ul.navbar-nav.float-right
          li.nav-item
            a.nav-link(href='/auth/logout') Logout
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Settings
    
    h1 Crear Administrador

    // Mostrar alerta si existe error o éxito
    if mensajeError
      script.
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: '#{mensajeError}',
        })

    if mensajeExito
      script.
        Swal.fire({
          icon: 'success',
          title: 'Éxito',
          text: '#{mensajeExito}',
        }).then(()=>{
            //Elimino el parametro success de la URL desp del alert
            const newURL = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, newURL);
        })

    .container
      .left-column
        h2 Lista de Administradores
        ul
          each usuario in usuarios
            li #{usuario.email} #{usuario.id_rol} 

      .right-column
        form(action="/usuarioAdmin/crear-admin" method="POST" id="formAdmin")
          div
            label(for="email") Email
            input(type="email" name="email" id="email" required)

          div
            label(for="password") Contraseña
            input(type="password" name="password" id="password" required)

          button(type="submit") Crear Admin

    script.
      // Limpiar formulario y actualizar vista al enviarlo exitosamente
      const form = document.getElementById('formAdmin');
      form.addEventListener('submit', (event) => {
        setTimeout(() => {
          form.reset();
        }, 100); 
      });
