doctype html
html
  head
    title Inicio
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 Bienvenido!
    ul
      li
        a(href='/pacientes') Ver Pacientes
      li
        a(href='/profesionales') Ver Profesionales
      li
        a(href='/medicamentos') Ver Medicamentos
    a(href='/logout') Cerrar sesion
    
