doctype html
html
    head
        title Buscar Pacientes
    body
        h1 Resultados de la búsqueda de pacientes
        form(action="/pacientes/buscar" method="get")
            input(type="text" name="term" placeholder="Buscar por nombre, apellido o DNI")
            button(type="submit") Buscar
        if pacientes && pacientes.length
            ul
                each paciente in pacientes
                    li #{paciente.nombre} #{paciente.apellido} - #{paciente.dni}
        else
            p No se encontraron pacientes


