body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type="submit"],
form button[type="button"] {
    /* background-color: #4CAF50; */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
}
.col-md-6.historial-scroll {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
}

#columnaHistorial {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-right: 0; 
}

#columnaHistorial.visible {
  max-height: 80vh; 
  overflow-y: scroll; 
  padding-right: 10px; 
  transition: max-height 0.4s ease;
}

.prestacion-anterior {
  border-left: 4px solid #007bff;
  background-color: #fdfdfd;
}


form button[type="button"].btn-secondary {
    background-color: #2880cd;
}

form button[type="button"].btn-secondary:hover {
    background-color: #39698d;
}

button:hover {
    background-color: #45a049;
}

.medicamento,
.prestacion {
    border: 1px solid #ddd;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease-in-out;
}

.medicamento button,
.prestacion button {
    margin-top: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.medicamento button:hover,
.prestacion button:hover {
    background-color: #f0f0f0;
}

.medicamento select, .medicamento input, .prestacion select, .prestacion input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:active {
    color: #004085;
}

a:visited {
    color: #32638e;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap; 
    margin-top: 20px;
}
