/* Encapsulamos estilos específicos para el formulario */
.form-paciente {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.form-paciente form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-paciente form label {
    display: block;
    margin-bottom: 8px;
}

.form-paciente form input[type="text"],
.form-paciente form input[type="date"],
.form-paciente form select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-paciente form select {
    width: 100%;
}

.form-paciente form button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-paciente form button[type="submit"]:hover {
    background-color: #218838;
}
