/* public/styles/form-pacientes.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Agrega estilos específicos para el formulario de pacientes aquí */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="date"],
form select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form select {
    width: 100%;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: #218838;
}

a {
    color: #007BFF; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

a:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

a:active {
    color: #004085; 
}

a:visited {
    color: #6c757d; 
}